@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
    background-color: #111111;
    max-width: 100%;
    max-height: 100%;
}

h6 {
    text-align: center;
    color: aliceblue;
}

#navbar {
    padding: 0%;
    background-color: #111111;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    max-width: 100vw;
    background-color: #111111;
}

.left {
    height: 100vh;
    width: auto;
}

.center {
    height: 100%;
    width: 100%;
    align-items: center;
}

.right {
    height: 100vh;
    width: auto;
}

.card-header {
    background-color: #111111;
    color: aliceblue;
    text-align: center;
}

.card {
    background-color: #4e4e4e00;
    border-width: 2px;
    border-color: rgb(44, 44, 44);
    align-self: center;
    margin-left: 5%;
    width: 90%;
}

#Luminosidade {
    font-size: medium;
}

.blockquote-footer {
    font-size: small;
}

.card-body {
    background-color: #161616;
    color: rgb(255, 209, 6);
}

#embed {
    position: relative;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 50%;
}

.embed-title {
    color: aliceblue;
    position: relative;
    padding-top: 2%;
    max-width: 100%;
    max-height: 50vh;
    text-align: center;
    margin: auto;
}

#video {
    width: 100%;
    height: 100%;
    margin: auto;
}

#iframe {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .grid-container {
        display: grid;
        grid-template-columns: 0fr 6fr 0fr;
        max-width: 100vw;
        background-color: #111111;
    }
    .left {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    #Luminosidade {
        font-size: small;
    }
    .embed-title {
        font-size: medium;
    }
    #video {
        max-width: 100%;
        max-height: 65%;
    }
}

@media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */
    .grid-container {
        display: grid;
        grid-template-columns: 0fr 6fr 0fr;
        max-width: 100vw;
        background-color: #111111;
    }
    .left {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    #Luminosidade {
        font-size: medium;
    }
    .embed-title {
        font-size: larger;
    }
    #video {
        max-width: 100%;
        max-height: 55%;
    }
}

@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .grid-container {
        display: grid;
        grid-template-columns: 0fr 6fr 0fr;
        max-width: 100vw;
        background-color: #111111;
    }
    .left {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    #Luminosidade {
        font-size: large;
    }
    .embed-title {
        font-size: larger;
    }
    #video {
        width: 80%;
        height: 100%;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        max-width: 100vw;
        background-color: #111111;
    }
    .left {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    #Luminosidade {
        font-size: large;
    }
    .embed-title {
        font-size: larger;
    }
    #video {
        max-width: 80%;
        max-height: 100%;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        max-width: 100vw;
        background-color: #111111;
    }
    .left {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    #Luminosidade {
        font-size: large;
    }
    .embed-title {
        font-size: larger;
    }
    #embed {
        max-width: 100%;
        max-height: 100%;
    }
    #video {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 6fr 2fr;
        max-width: 100vw;
        background-color: #111111;
    }
    .left {
        visibility: hidden;
    }
    .right {
        visibility: hidden;
    }
    #Luminosidade {
        font-size: large;
    }
    .embed-title {
        font-size: larger;
    }
    #embed {
        max-width: 100%;
        max-height: 100%;
    }
    #video {
        max-width: 100%;
        max-height: 100%;
    }
}